<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.meili"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9ce874f2fde4f4a84879a044b2cde5df" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54f0129ffd98c51bfa000f76" >
        </meta-data>

        <activity
            android:name=".MainActivity"
            android:label="Meili" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />
        <activity android:name=".ChooseCityActivity" />
        <activity
            android:name=".PavilionDetailActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".GalleryDetailActivity" />
        <activity android:name=".DisplayExhibitonActivity" />
        <activity android:name=".GalleryItemsActivity" />
        <activity android:name=".GalleryViewActivity" />
        <activity android:name=".DisplayImageActivity" />
    </application>

</manifest>